body {
    background-color: #FB6B6B;
}

* {
    box-sizing: border-box;
    font-style: normal;
    font-weight: 400;
}

.firstScreen {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 148px;
}

.firstScreen img {
    width: 136px;
    height: 161px;
    margin-bottom: 13px;
}

.firstScreen h1, .main-screen header h1 {
    font-family: 'Righteous';
    font-size: 36px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.012em;

    color: #FFFFFF;
    margin-bottom: 30px;
}

.firstScreen button {
    width: 246px;
    height: 54px;

    background: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;

    font-family: 'Recursive';
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    color: #D70900;
}

.main-screen {
    padding: 0 38px;
}

.main-screen header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 42px;
    margin-bottom: 52px;
}

.main-screen header h1 {
    margin-bottom: 0;
    width: 203.17px;
    height: 75px;
    justify-content: center;
}

header img {
    width: 52px;
    height: 60px;
}

.question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 18px;

    width: 100%;
    height: 65px;

    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;

    margin-bottom: 25px;
}

.question p {
    font-family: 'Recursive';
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #333333;
}

.answer-green {
    text-decoration: line-through;
    color: #2FBE34 !important;
}

.answer-red {
    text-decoration: line-through;
    color: #FF3030 !important;
}

.answer-yellow {
    text-decoration: line-through;
    color: #FF922E !important;
}

.question ion-icon {
    font-size: 25px;
}

.flashcard {
    position: relative;
    padding: 10px 12px 6px 12px;

    width: 100%;
    height: fit-content;

    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;

    margin-bottom: 25px;
}

.flashcard p {
    font-family: 'Recursive';
    font-size: 18px;
    line-height: 22px;

    margin-bottom: 3px;

    color: #333333; 
}

.flashcard img {
    width: 30px;
    height: 20px;
    position: absolute;

    right: 15px;
    bottom: 5px;
    z-index: 1;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
}

.answerButton {
    width: 82px;
    height: 38px;
    font-family: 'Recursive';
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;

    color: #FFFFFF;
    border-radius: 5px;
    background-color: red;
    cursor: pointer;
}

.backgreen {
    background: #2FBE34;
}

.backred {
    background: #FF3030;
}

.backyellow {
    background: #FF922E;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;

    height: 70px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;

    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

footer p {
    font-family: 'Recursive',sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
}

.green {
    color: #2FBE34;
}

.red {
    color: #FF3030;
}

.yellow {
    color: #FF922E;
}